extends layout

block content
  div.container
    div.content
       form.form-horizontal(method="get", id="dateForm", name="dateForm")
         fieldset
           legend Filter
         div.control-group
           label.view  Depuis le:
             input.span(id="date1", type="text", name="date1", placeholder="Starting date", size="10", value=date1)
           label.view  Au:
             input.span(id="date2", type="text", name="date2", placeholder="Ending date", size="10", value=date2)
           label.view  Country:
             select(name="country")
                option
                option FR
                option ES
           label.view  Desc:
             input.span(id="desc", type="text", name="desc", placeholder="description", size="12", value=desc)
           label.view
           input.btn(type="submit", value="Proceed >>", class="btn btn-large btn-primary")
         p
  div.container
    div.content
      fieldset
        legend Report
      table.table.table-striped
        thead
          tr
            th Date
            th Operation
            th Montant
            th Desc
            th Pays
        tbody
          each entry, i in items
            tr(class=entry.Class)
              td(class=entry.Class)
                a(href='/admin/' + entry.Id) #{entry.Date}
              td(class=entry.Class)= entry.Op
              td(class=entry.Class)= entry.Montant
              td(class=entry.Class)= entry.Desc
              td(class=entry.Class)= entry.Country

  include inc/footer
