doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{settings.title}')
    meta(name='author', content='Francois Lacroix')
    meta(name='copyright', content='Copyright (c) 2014, Francois Lacroix')
    title= title
    // Bootstrap core CSS
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Should be placed at the end of the document so the pages load faster
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') #{settings.title}
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                   - var obj = { '/report':'Report', '/graph':'Graph', '/import':'Import', '/market':'Market', '/about':'About' }
                    each val, key in obj
                      if (id == key)
                        li.active
                          a(href=''+ key) #{val}
                      else
                        li
                          a(href=''+ key) #{val}
    block content
